<!--Ajoute un lien vers /ask dans la vue answer.html.erb en utilisant l’objet d’aide ou helper Rails link_to. -->
<h1>hello Answer</h1>

<%= link_to "Ask something", ask_path %>

<!-- comment display les réponse-->
<%= @answer%>
